.App {
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-content {
  margin-left: 16rem; /* Width of the SideNav */
  padding: 2rem;
  max-width: 100%;
  width: calc(100% - 16rem); /* Ensure the content takes the full width minus the sidebar */
  box-sizing: border-box;
}

header {
  margin-bottom: 2rem;
}
